<!-- Footer -->
<footer class="page-footer font-small unique-color-dark container-fluid p-0">

    <div class="footer-social">

        <div class="container-fluid">

            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0">Connectez-vous avec nous via les réseaux sociaux !</h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 col-lg-7 text-center text-md-right">

                <!-- Facebook -->
                <a class="fb-ic">
                    <i class="fab fa-facebook-f white-text mr-4"> </i>
                </a>
                <!-- Twitter -->
                <a class="tw-ic">
                    <i class="fab fa-twitter white-text mr-4"> </i>
                </a>
                <!-- Google +-->
                <a class="gplus-ic">
                    <i class="fab fa-google-plus-g white-text mr-4"> </i>
                </a>
                <!--Linkedin -->
                <a class="li-ic">
                    <i class="fab fa-linkedin-in white-text mr-4"> </i>
                </a>
                <!--Instagram-->
                <a class="ins-ic">
                    <i class="fab fa-instagram white-text"> </i>
                </a>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>

    </div>

    <!-- Footer Links -->
    <div class="footer-links container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row pt-4">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">PUR BEURRE</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Pur Beurre est l'initiative de deux amoureux de la gastronomie française, Colette Tatou et Rémy,
                que vous avez déjà certainement rencontrés dans notre excellent restaurant Ratatouille.</p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Par quoi remplacer ...</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="{% url 'results' name='nutella' %}">Le celèbre pot de Nutella !</a>
                </p>
                <p>
                    <a href="{% url 'results' name='confiture fraise' %}">La délicieuse confiture à la fraise !</a>
                </p>
                <p>
                    <a href="{% url 'results' name='abricot' %}">Les succulentes confitures aux abricots ?</a>
                </p>
                <p>
                    <a href="{% url 'index' %}#search">D'autres idées ? C'est à vous !</a>
                </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Liens utiles</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="{% url 'profile' %}">Votre profil</a>
                </p>
                <p>
                    <a href="{% url 'legales_notices' %}">Mentions légales</a>
                </p>
                <p>
                    <a href="https://github.com/TheodoraxX/projet11">Repository GitHub</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fas fa-home mr-3"></i> Paris, Montmartre
                </p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> contact@purbeurre.com
                </p>
                <p>
                    <i class="fas fa-phone mr-3"></i> + 01 55 08 80 55
                </p>
                <p>
                    <i class="fas fa-print mr-3"></i> + 01 55 08 80 55
                </p>

            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://github.com/TheodoraxX/projet11"> Git Hub Project</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->