{% extends "substitutes/base.html" %}
{% block title %}Mentions légales{% endblock %}
{% block header %}
<div class="container-fluid">

    <div class="row">
        <div class="col-0 col-md-3"></div>
        <div class="col-12 col-md-6 text-center">
            <h2 class="mt-5 p-2 search">Mentions légales</h2>
        </div>
        <div class="col-0 col-md-3"></div>
    </div>

</div>
{% endblock %}

{% block content %}
<section class="container-fluid">

    <div class="row">
        <div class="col-0 col-md-3"></div>
        <div class="col-12 col-md-6 text-center">
            <h2 class="pt-4 legale">Crédits artistiques</h2>
            <h3 class="legale"><a href="https://thenounproject.com/FabienJ/">Fabien Jouin</a> - Pour l'icône 'carotte'</h3>
            <h3 class="legale"><a href="https://unsplash.com/@kawin">Kawin Harasi</a> - Pour la sublime image de fond</h3>
            <h3 class="legale"><a href="https://www.flaticon.com/">Flaticon</a> - Pour les icônes (connexion et profil)</h3>
            <h3 class="legale"><a href="http://www.mangerbouger.fr/Manger-Mieux/Comment-manger-mieux/Comprendre-les-infos-nutritionnelles2/Le-Nutri-Score-l-information-nutritionnelle-en-un-coup-d-oeil">Manger Bouger</a> - Pour les logos 'nutri-score'</h3>

            <h2 class="pt-4 legale">Cette application à été propulsée avec l'appui de :</h2>
            <h3 class="legale"><a href="https://www.djangoproject.com/">Django</a></h3>
            <h3 class="legale"><a href="https://getbootstrap.com/">Bootstrap</a></h3>

        </div>

        <div class="col-0 col-md-3"></div>

    </div>

</section>
{% endblock %}