{% load static %}
<div class="col-12 col-md-4 thumbnail text-center p-4">

    <div class="nutriscores nutriscore-{{ product.nutriscore }} rounded-circle">
        {% if product.nutriscore == 1 %}
            A
        {% elif product.nutriscore == 2 %}
            B
        {% elif product.nutriscore == 3 %}
            C
        {% elif product.nutriscore == 4 %}
            D
        {% elif product.nutriscore == 5 %}
            E
        {% endif %}

        {{ nutriscore }}
    </div>

    <a href="{% url 'product' product.id %}">
        <img src="{{ product.image }}" class="img-fluid" alt="">
    </a>
    <h2 class="p-2">{{ product.name }}</h2>

    {% if title == 'Vos favoris' %}
        <a href="{% url 'del_favorite' product.id %}" class="btn btn-outline-danger active mb-3" role="button" aria-pressed="true">Delete</a>
    {% else %}
        <a href="{% url 'add_favorite' product.id %}" class="btn btn-outline-danger active mb-3" role="button" aria-pressed="true">
            <i class="far fa-heart"></i>
        </a>
    {% endif %}

    <a href="{% url 'substitutes' product.id %}" class="btn btn-outline-success active mb-3" role="button" aria-pressed="true">Substituts</a>

</div>