{% extends "substitutes/base.html" %}
{% block title %}Connexion{% endblock %}
{% load crispy_forms_tags %}
{% block css %}
{% load static %}
<style type="text/css">
    header {
        background-image: url({% static 'substitutes/img/background.jpg' %});
    }
</style>
{% endblock %}
{% block header %}
<div class="container-fluid">

    <div class="row">
        <div class="col-0 col-md-3"></div>
        <div class="col-12 col-md-6 text-center">
            <h2 class="mt-5 p-2 search">Connexion</h2>
        </div>
        <div class="col-0 col-md-3"></div>
    </div>

</div>
{% endblock %}
{% block content %}
<section class="container-fluid">
    <div class="row">
        <div class="col-0 col-md-4"></div>
        <div class="col-0 col-md-4">
            <div class="col-12 p-0 mb-4 mt-4 social-networks text-center">

                <legend class="border-bottom mb-4">Connectez-vous avec les réseaux</legend>

                <button class="btn btn-primary mb-2">
                    <a href="{% url 'social:begin' 'facebook' %}"><i class="fab fa-facebook-f"></i></a>
                </button>
                <button class="btn btn-danger mb-2">
                    <a href="{% url 'social:begin' 'google-oauth2' %}"><i class="fab fa-google"></i></a>
                </button>
                <button class="btn btn-dark mb-2">
                    <a href="{% url 'social:begin' 'github' %}"><i class="fab fa-github"></i></a><br>
                </button>
            </div>
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group text-center">
                    <legend class="border-bottom mb-4">Ou</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Se connecter</button>
                </div>
            </form>
            <div class="border-top pt-3 pb-5">
                <small class="text-muted">
                    Besoin d'un compte ? <a class="ml-2" href="{% url 'register' %}">Inscription</a>
                </small>
            </div>
        </div>
        <div class="col-0 col-md-4"></div>
    </div>
</section>
{% endblock %}